<html>
	<head>
		<meta http-equiv=Content-Type content="text/html; charset=utf-8">
		<script src="http://cdn.bootcss.com/socket.io/1.3.5/socket.io.js"></script>
		<script src="http://libs.baidu.com/jquery/2.0.0/jquery.js"></script>
		<title>title</title>
	</head>
	<body>
                <script>
                        var socket=io.connect("localhost:8080");
                        socket.on("news",function(data){
                                console.log(data);
                                socket.emit("my other event",{my:data});
                        });
                </script>
        </body>
</html>
